@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

body{
  background-color: rgb(253, 249, 249);
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

h2{
  font-weight: 900;
}

#command-center{
  /* background-color: bisque; */
  width: 100%;
  max-width: 40rem;
  padding: .5rem;
}
#left-wing{
  color: #484847;
}
#right-wing{
  color: #484847;
}

.bar{
  padding-bottom: 1.2rem;
  margin-top: .5rem;
  /* background-color: rgb(192, 192, 248); */
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  color: rgb(0, 0, 5);
  padding: .5rem;
}

#time-count{
  display: none;
}

#typing-area{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  margin-top: .5rem;
  background-color: rgb(117, 116, 116);
  padding: 1rem;
  border-radius: .2rem;
}

#text-display{
  padding: .5rem;
  font-size: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #f5deb3;
  /* background-color: azure; */
}

#input-field{
  width: 90%;
  padding: .5rem;
  font-size: 1.2rem;
  margin-right: .5rem;
  border-radius: .2rem;
  outline: none;
  border: none;
}

#redo-button{
  padding: .5rem;
  background-color: rgb(253 249 249);
  border-radius: .2rem;
  border: none;
  width: 3rem;
  cursor: pointer;
}

#theme-center{
  display: none;
}